<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>{% block title %}Survey{% endblock %}</title>
</head>
<body>

    <main class="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <section class="messages">
            {% for category, msg in messages %}
                <p class="{{category}}">{{msg}}</p>
            {% endfor %}
        </section>
        {% endif %}
        {% endwith %}
        
    <h1>Customer Satisfaction Survey</h1>
    <h2>{{instructions}}</h2>
    
   
    {% block content %}
    {% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="/static/app.js"></script>
</body>
</html>